In [1]:
import pandas as pd

In [2]:
demographics = pd.read_csv('data_for_regression_2019_05.csv')
demographics.head()

,practice,pct,LSOA11NM,ruc11cd,RUC11,mean_percentile,num_gps_june,num_gps_sept,CL,PH,...,Value_satisfaction,Value_long_term_health,Value_over_65,Value_under_18,code,dispensing_patients,total_items,list_size,Principal Supplier,Principal System
0,A81001,00K,Stockton-on-Tees 014G,C,Urban city and town,0.436030,2.0,NaN,425.69,97.00,...,83.627562,49.450467,23.323544,20.264317,A81001,0.0,94138.0,4097.083333,TPP,SystmOne
1,A81002,00K,Stockton-on-Tees 014F,C,Urban city and town,0.484001,12.0,12.0,435.00,97.00,...,80.971049,58.535567,21.194615,18.908872,A81002,0.0,451497.0,19829.750000,TPP,SystmOne
2,A81003,00K,Hartlepool 007D,C,Urban city and town,NaN,NaN,NaN,425.34,97.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A81004,00M,Middlesbrough 015C,C,Urban city and town,0.514046,2.0,3.0,427.63,97.00,...,87.585723,50.589328,18.819479,18.937531,A81004,0.0,214788.0,10307.333333,TPP,SystmOne
4,A81005,00M,Redcar and Cleveland 018A,C,Urban city and town,0.333274,8.0,9.0,429.72,91.76,...,84.936370,63.431023,27.956587,17.851796,A81005,0.0,195485.0,8020.416667,TPP,SystmOne

In [3]:
statins = pd.read_csv('statins_proportion_for_regression_filtered.csv')
statins = statins.drop('Unnamed: 0',axis=1)
statins.head()

,index,practice,year,items,low_med_dose_items,low_med_dose_items_hi_pri,proportion_lm_dose,proportion_lm_dose_hp
0,0,A81001,2018,5261,2266,705,0.430717,0.134005
1,1,A81002,2018,30575,12199,3582,0.398986,0.117155
2,2,A81004,2018,13974,5234,2408,0.374553,0.172320
3,3,A81005,2018,15779,7366,4476,0.466823,0.283668
4,4,A81006,2018,26783,10885,4139,0.406415,0.154538

In [4]:
merged = statins.merge(demographics, how='left',on='practice')
merged.head()

,index,practice,year,items,low_med_dose_items,low_med_dose_items_hi_pri,proportion_lm_dose,proportion_lm_dose_hp,pct,LSOA11NM,...,Value_satisfaction,Value_long_term_health,Value_over_65,Value_under_18,code,dispensing_patients,total_items,list_size,Principal Supplier,Principal System
0,0,A81001,2018,5261,2266,705,0.430717,0.134005,00K,Stockton-on-Tees 014G,...,83.627562,49.450467,23.323544,20.264317,A81001,0.0,94138.0,4097.083333,TPP,SystmOne
1,1,A81002,2018,30575,12199,3582,0.398986,0.117155,00K,Stockton-on-Tees 014F,...,80.971049,58.535567,21.194615,18.908872,A81002,0.0,451497.0,19829.750000,TPP,SystmOne
2,2,A81004,2018,13974,5234,2408,0.374553,0.172320,00M,Middlesbrough 015C,...,87.585723,50.589328,18.819479,18.937531,A81004,0.0,214788.0,10307.333333,TPP,SystmOne
3,3,A81005,2018,15779,7366,4476,0.466823,0.283668,00M,Redcar and Cleveland 018A,...,84.936370,63.431023,27.956587,17.851796,A81005,0.0,195485.0,8020.416667,TPP,SystmOne
4,4,A81006,2018,26783,10885,4139,0.406415,0.154538,00K,Stockton-on-Tees 014F,...,87.409959,67.206525,17.520866,21.494102,A81006,0.0,346425.0,14520.750000,TPP,SystmOne

In [5]:
merged.to_csv('regression_file.csv',index=False)